body {
	margin: 0;
	font-size: 18px;
	color:hsl(208, 11%, 55%);
}

h2 {
	font-family: 'Poppins', sans-serif;
	color: black;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	color: rgb(109, 109, 109);
	line-height: 2rem;
}

.main-background {
	background-image: linear-gradient(hsl(322, 100%, 66%),hsl(265, 100%, 66%));
	height: 100vh;
	border-top-left-radius: 90%;
	/* border-end-end-radius: 80%; */
}

#logo {
	margin: 3% 0px 10px 10px;
	position: relative;
}

.button {
	background-color: rgb(255, 255, 255);
	border: none;
	color: hsl(265, 100%, 66%);
	text-decoration: none;
	padding: 10px 50px;
	display: inline-flex;
	box-shadow: 0px 3px 10px;
	left: 70%;
	position: relative;
}

.button#getstarted {
	background-color:  hsl(322, 100%, 66%);
	border: none;
	color: hsl(0, 0%, 99%);
	text-decoration: none;
	padding: 0px 100px;
	box-shadow: 0px 3px 10px;
	margin: 0 auto;
	left: 0;
}
.button#getstarted p {
	color: white;
}

.mockup {
	width: 50%;
	margin: 0 auto;
	position: absolute;
	top: 25%;
}

.userimg {
	width: 90%;
	margin-left: 90px;
	float: left;
}

.container {
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 50%;
}

.user-container {
	position: relative;
	/* margin-top: 25%; */
	margin: 0 auto;
}

.container-row {
	width: 400px;;
	float: left;
}

.try-free {
	position: relative;
	/* top: 205%; */
	width: 50%;
	height: 500px;
	font-family: 
	background-color: white;
	text-align: center;
	margin: 0 auto;
}



.footer {
	background-color: hsl(192, 100%, 9%);
	padding: 100px;
}
/* For mobile phones: */

@media only screen and (min-width: 375px) {
	/* For Desktop */

}